.table-container {
  max-height: 295px;
  overflow: auto;
  margin-top: 8px;
  margin-bottom: 5px;
  padding: 10px;
}
.table {
  width: 100%;
}

.head-cell {
  font-size: 1em;
  padding: 12px 8px;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  color: #26c6da;
  background-color: aliceblue;
}

.body-cell {
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  padding: 12px 8px;
}

.body-row {
  cursor: pointer;
  &:hover {
    background-color: #51d1e1;
  }
}

.body-row-action {
  background-color: #26c6da !important;
}

.select {
  width: 100px;
  margin-right: 10px;
  vertical-align: middle;
}

.progress {
  vertical-align: middle;
}

.success-text {
  color: rgb(32, 173, 7);
}

.error-text {
  color: red;
}
