.alert {
  position: absolute;
  border-top: none;
  z-index: 1000;
  left: calc(50% - 250px);
  top: 56px;
  min-height: 0px;
  width: 500px;
  margin: 10px 0px;
  transition: all 200ms ease-out;
  svg {
    transition: all 200ms ease-out;
  }
}

.hide {
  height: 0px;
  overflow: hidden;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: none;
  svg {
    height: 0px;
  }
}

.tips {
  color: red;
}

.disable {
  pointer-events: none;
  color: darkgray;
}
