.container {
  padding: 5px;
  position: relative;
  width: 380px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}
.topleft {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
}