.container {
  margin: 20px 20px 10px;
}
.fColumn {
  flex-flow: column wrap;
  font-weight: bold;
  text-align: left !important;
}
.card_Header {
  padding: 10px;
  text-align: center;
  margin-top: -40px;
  margin-bottom: 20px;
  /* background: linear-gradient(60deg, #26c6da, #00acc1);
  box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12),
    0 7px 8px -5px rgba(0, 188, 212, 0.2); */
  border-radius: 4px;
}
.card_Header_left {
  padding: 10px;
  text-align: center;
  margin-top: -40px;
  margin-bottom: 20px;
  float: left;
  /* background: linear-gradient(60deg, #26c6da, #00acc1);
  box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), */
  /* 0 7px 8px -5px rgba(0, 188, 212, 0.2); */
  border-radius: 4px;
}

.elevation {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 0, 0, 0.4);
  border-radius: 4px !important;
}

.heading {
  color: white !important;
  margin-bottom: 0 !important;
}

.choose::-webkit-file-upload-button {
  color: white;
  display: inline-block;
  /* background: linear-gradient(60deg, #26c6da, #00acc1); */
  border: none;
  padding: 7px 15px;
  font-weight: 700;
  border-radius: 3px;
  white-space: nowrap;
  cursor: pointer;
  font-size: 10pt;
}
