.context {
  padding: 0px !important;
}

.nav-text {
  color: white;
}

.nav-item {
  &:hover {
    background-color: #6fbbd6;
  }
  background-color: #6fbbd6;
}

.nav-container {
  background-color: #555555;
  height: calc(100vh - 80px);
  width: 150px;
  position: absolute;
  margin-top: 0px;
}

.container {
  overflow-y: auto;
  position: absolute;
  background-color: white;
  padding: 20px;
  margin-left: 150px;
  position: absolute;
  width: calc(100% - 150px);
  height: calc(100% - 80px);
}
